# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=0edea70309eca5f76535f79f3d2d8da0
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://root:@127.0.0.1:3306/dashbord
###< doctrine/doctrine-bundle ###

TOKEN_SNCF=
TOKEN_USERNAME=
TOKEN_PASSWORD=
ENDPOINT_TRANSILIEN=http://api.transilien.com