body {
    background-color: #08205F;
}

.time {
    position: fixed;
    top: -40pt;
    right: 8pt;
    width: 3em;
    padding: 40pt 0.2em 0.2em;
    margin: 0;
    background-color: #000080;
    border-radius: 0.56em;
    border: white 0.18em solid;
    font-size: 200%;
    z-index: 1;
    cursor: default;
    text-align: center;
    color: #ffffff;
}
