<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dashboard SUPINFO{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('static/css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% include 'dashboard/dashboard.html.twig' %}
        {% endblock %}
        {% block javascripts %}
            <script type="application/javascript" src="{{ asset('static/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
